* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: rebeccapurple;
}

main {
	text-align: center;
	color: white;
}

#score {
	margin-top: 50px;
	font-size: 40px;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
