* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: rebeccapurple;
}

.container {
	position: absolute;
	top: calc(50% - 30px);
	left: 50%;
	transform: translate(-50%, -50%);
}

#score,
#highscore {
	font-size: 40px;
	text-align: center;
	color: white;
}

@media only screen and (max-width: 700px) and (max-height: 700px) {
	#score,
	#highscore {
		font-size: 30px;
	}
}

#canvas {
	position: relative;
	background-color: rgb(60, 60, 60);
}
